<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
   PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.trip.plans.mapper.plansMapper">

	<select id="todaySchedule" parameterType="plans" resultType="today">
		select p.location, pp.visit_time, pp.place_name
		FROM plans p, plan_places pp
		where p.plan_id = pp.plan_id
		and p.user_id = #{user_id}
		and pp.visit_date = #{start_date}
		order by pp.visit_date ASC;
	</select>

	<select id="plansSelect" parameterType="Integer" resultType="plans">
		select *
		from plans
		where user_id = #{user_id}
		order by start_date;
	</select>
	
	<insert id="addPlan" parameterType="plans">
        insert into plans (user_id, title, location, start_date, end_date, img)
        values (#{user_id}, #{title}, #{location}, #{start_date}, #{end_date}, #{img})
    </insert>
    
    <update id="modifyPlan" parameterType="plans">
    	update plans
		set start_date = #{start_date},
			end_date = #{end_date},
			title = #{title},
			location = #{location}
		where plan_id = #{plan_id}
    </update>
    
    <delete id="deletePlan" parameterType="plans">
    	delete from plans
    	where plan_id = #{plan_id}
    	and user_id = #{user_id}
    </delete>
    
    <select id="getPlanDetails" parameterType="map" resultType="planDetail">
        select
		    p.plan_id,
		    p.title,
		    p.location,
		    p.start_date,
		    p.end_date,
		    p.img,
		    tp.plan_place_id,
		    tp.visit_date,
		    tp.visit_time,
		    tp.place_name,
		    tp.description
		from plans p
		left join plan_places tp ON p.plan_id = tp.plan_id
		where p.user_id = #{user_id} AND p.plan_id = #{plan_id}
		order by tp.visit_date, tp.visit_time;
    </select>
    
    <insert id="addDetailPlan" parameterType="planDetail">
	    insert into plan_places(plan_id, visit_date, visit_time, place_name, description)
		values(#{plan_id}, #{visit_date}, #{visit_time}, #{place_name}, #{description});
    </insert>
    
    <insert id="addNewActivity" parameterType="planDetail">
	    insert into plan_places (plan_id, visit_date, visit_time, place_name, description)
		values (#{plan_id}, #{visit_date}, #{visit_time}, #{place_name}, #{description});
    </insert>
    
    <update id="updateActivity" parameterType="planDetail">
    	update plan_places
		set visit_date = #{visit_date},
			visit_time = #{visit_time},
			place_name = #{place_name},
			description = #{description}
		where plan_place_id = #{plan_place_id}
    </update>
    
    <delete id="deleteActivity" parameterType="planDetail">
    	delete from plan_places
    	where plan_place_id = #{plan_place_id}
    </delete>
</mapper>